

body{
    font-family: 'Roboto', sans-serif;
}

.avatar-background{
    /* background-image: url("../img/avatar.jpg") ; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    background-color:  var(--morado-talently);
}

.avatar-img{
    margin-top: 40px;
    text-align: center;
}

.img-avatar{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    object-fit: cover;
}

.avatar-name{
    color: white ;
    font-weight: 100;
}

.avatar-text{
    color: white;
    text-transform: capitalize;
    font-weight: 100;
}

.avatar-link-shadow{
    border-radius: 4px;
    color:white;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
}

.avatar_top p{
    margin-top: 1rem;
}

.avatar_bottom p{
    margin-bottom: 1rem;
}

.avatar_top{
    border-top: 1px solid white;
}

.avatar_bottom{
border-bottom: 1px solid white;
}

.avatar-info-text{
    color:white !important;
    font-weight: 100;
    line-height: 0px;
    font-size: 14px;
    display: inline-block;
}

.avatar-info_direct{
    margin-top:20px;
    text-transform: capitalize;
}

.avatar-info_direct a{
    color: var(--blanco-talenty);
    text-transform: none;
}

svg:not(:root).svg-inline--fa{
    color:white;
    margin-right: 5px;
}

.avatar-text-white{
    color: rgb(189, 185, 185);
    opacity: .5;
    margin-bottom: -2px;
}

.avatar-location{
    margin-bottom:10px;
}

.avatar-email{
    margin-bottom:10px;
}

.avatar-pronouns{
    margin-bottom:10px;
}

.avatar-phone{
    margin-bottom:10px;
}

.avatar-github{
    margin-bottom:10px;
}

.avatar-twitter{
    margin-bottom:30px;
}

.avatar-p_text a{
    color:white;
}

.avatar-background_white{
    background-color: white;
}

.avatar-title{
    margin-top: 60px;
}

.avatar-title p{
    text-transform: capitalize;
    margin-top: 20px;
}

.avatar-h2_title{
    color:rgb(70, 140, 219);
    font-weight: 100;
    border-bottom: 1px solid rgb(70, 140, 219);
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;
    margin-top: 20px;
}

.avatar-h3_title{
    color:rgb(70, 140, 219);
    font-weight: 100;
    border-bottom: 1px solid rgb(70, 140, 219);
    text-transform: capitalize;
    font-size: 28px;
    margin-top: 20px;
}






