@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");

body {
	font-family: "Roboto", sans-serif;
}

.avatar-background {
	/* background-image : url("../img/avatar.jpg") ; */
	/* background-size  : contain; */
	/* background-repeat: no-repeat; */
	background-color: var(--morado-talently);
}

.avatar-img {
	margin-top: 40px;
	text-align: center;
}

.img-avatar {
	border: 2px solid var(--gris-talently);
	border-radius: 50%;
	height: 100px;
	object-fit: cover;
	width: 100px;
}

.avatar-name {
	color: white;
	font-weight: 200;
}

.avatar-text {
	color: var(--gris-talently);
	font-weight: 400;
	font-size: 13px;
}

.avatar-link-shadow {
	border-radius: 4px;
	color: white;
	font-weight: 400;
	display: inline-block;
	background-color: var(--morado-2);
	font-size: 13px;
	text-align: center;
	padding: 3px 6px;
	margin-right: 15px;
}

.avatar_top p {
	margin-top: 1rem;
}

.avatar_bottom p {
	margin-bottom: 1rem;
}

.avatar_top {
	border-top: 1px solid var(--gris-talently);
}

.avatar_bottom {
	border-bottom: 1px solid var(--gris-talently);
}

.avatar-info-text {
	color: var(--gris-talently) !important;
	font-weight: 400;
	line-height: 0px;
	font-size: 13px;
	display: inline-block;
}

.avatar-info_direct {
	margin-top: 20px;
}

.avatar-info_direct a {
	color: var(--blanco-talently);
	text-transform: none;
	font-size: 13px;
	font-weight: 400;
}

.avatar-info_direct span {
	color: var(--blanco-talently) !important;
	font-size: 13px;
	font-weight: 400;
	display: inline-block;
	line-height: 1.2;
}

.avatar-info_direct i {
	color: var(--blanco-talently) !important;
	margin-right: 5px;
}

.avatar-text-white {
	color: var(--blanco-talently);
	font-size: 13px;
	margin-bottom: 0;
	border-bottom: 1px solid var(--gris-talently);
}

.avatar-info_direct .row > div {
	margin-bottom: 1rem;
}

.avatar-p_text {
	color: var(--blanco-leve) !important;
}

.avatar-background_white {
	background-color: var(--blanco-leve);
}

.avatar-title {
	margin-top: 60px;
}

.avatar-block p {
	margin-top: 20px;
	font-size: 15px;
	font-weight: 400;
	color: var(--texto-plomo);
}

.avatar-h2_title {
	color: var(--titulo-oscuro);
	font-weight: 300;
	border-bottom: 1px solid var(--titulo-oscuro);
	font-size: 24px;
	margin-top: 20px;
}

.avatar-h3_title {
	color: var(--titulo-oscuro);
	font-weight: 400;
	border-bottom: 1px solid var(--titulo-oscuro);
	text-transform: capitalize;
	font-size: 28px;
	margin-top: 20px;
}
