{% extends "layout.html" %} {% block title %}{{ this.title }}{% endblock %} {%
block content %} {% include "partials/filters.html" %} 
    {% include "partials/dev_profiles_list.html"%}
{% endblock%}

{%block
footer_scripts %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ '/css/js/jquery-3.2.1.slim.min.js' | url }}"></script>
<script src="{{ '/css/js/popper.min.js' | url }}"></script>
<script src="{{ '/css/js/bootstrap.min.js' | url }}"></script>
<script src="{{ '/js/main.js' | url }}"></script>

{% endblock %}
